%header.dark
	%div.container
		%hr
		%span.title
			Brad Cerasani
		%hr
		%div.hero
			%p I'm a web designer and developer based in Winnipeg, Canada. I specialize in responsive, future-friendly front-end development.
			%p.small Elsewhere I may also be known as a musician, audio engineer, commercial photographer, and/or hockey coach.

		%ul.social
			%li
				%a(href="http://twitter.com/shedbot" class="twitter")
			%li
				%a(href="http://instagram.com/bradcerasani" class="instagram")
			%li
				%a(href="http://github.com/bcerasani" class="github")
			%li
				%a(href="http://dribbble.com/bcerasani" class="dribbble")
			%li
				%a(href="http://ca.linkedin.com/in/bradcerasani" class="linkedin")
			%li
				%a(href="http://rdio.com/people/bcerasani" class="rdio")
/ %ul<
/ =nav_item("Journal")
