!!! 5
%html
	= haml :"/layouts/_head"
	%body
		%header.dark
			%div.container
				.title
					Brad Cerasani
				%div.hero
					%p I'm a front-end designer/developer based in Winnipeg, Canada. I specialize in responsive design and future-friendly architecture.
					%p.small In other circles I may also be known as a musician, audio engineer, commercial photographer, and/or hockey coach.
				%ul.social
					%li
						%a(href="http://twitter.com/shedbot" class="twitter")
					%li
						%a(href="http://instagram.com/bradcerasani" class="instagram")
					%li
						%a(href="http://rdio.com/people/bcerasani" class="rdio")
					%li
						%a(href="http://github.com/bcerasani" class="github")
					%li
						%a(href="http://dribbble.com/bcerasani" class="dribbble")
					%li
						%a(href="http://ca.linkedin.com/in/bradcerasani" class="linkedin")
		%section
			%div.container
				%h4 Journal
				= haml :"journal/_entries"
				%h4 Elsewhere
				%ul.elsewhere
					%li
						%span.date
							7 May, 2013
						%a(href="http://www.hermanmiller.com/lifework/the-innovative-studio-of-web-designer-developer-brad-cerasani/" class="hm")
							Herman Miller Lifework
						%span.excerpt
							The Innovative Studio of Web Designer & Developer Brad Cerasani
					%li
						%span.date
							2 March, 2011
						%a(href="http://www.ononesoftware.com/blog/2011/03/02/dslr-camera-remote-in-las-vegas/" class="onone")
							onOne Software
						%span.excerpt
							DSLR Camera Remote in Las Vegas
	%footer
		%div.container
			%div.left
				%a.inherit(href="mailto:hello@bradcerasani.me" target="_blank")
					hello@bradcerasani.me
			%div.right
				%span.flag
	= haml :"/layouts/_scripts"
