:root {
  --backgroundColor: hsl(0, 0%, 10%);
  --color: #f7f7f7;
  --cyan: #64edff;
  --green: #67ffb8;
  --grey: #85a19f;
  --blue: #028BE8;
  --pink: #ff55b5;
  --purple: #bd93f9;
  --red: #f84e3b;
  --yellow: #faec8f;
}

code[class*='language-'],
pre[class*='language-'] {
  -moz-hyphens: none;
  -moz-tab-size: 4;
  -ms-hyphens: none;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  background: none;
  font-family: 'Jetbrains Mono', Consolas, Menlo, Monaco, source-code-pro, 'Courier New',
    monospace;
  font-size: 0.8rem;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
  background-color: var(--backgroundColor);
  border-radius: 8px;
  color: var(--color);
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  overflow: auto;
  padding: 1.5rem;
}

pre *::selection {
  background-color: hsl(0, 0%, 60%);
  text-shadow: 0 0 4px var(--backgroundColor), 0 0 6px currentColor;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  background-color: hsl(0, 0%, 94%);
  color: black;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  white-space: normal;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.datetime.number {
  color: var(--color);
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--grey);
  font-style: italic;
}

.token.namespace,
.token.deleted {
  color: var(--red);
}

.token.tag,
.token.punctuation,
.token.function-name {
  color: var(--purple);
}

.token.selector,
.token.attr-name,
.token.function {
  color: var(--cyan);
}

.token.class-name,
.token.constant,
.token.symbol {
  color: var(--yellow);
}

.token.operator,
.token.entity,
.token.url,
.token.alternation,
.token.group,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: var(--pink);
}

.token.property,
.token.charset,
.token.quantifier,
.token.string,
.token.char,
.token.regex,
.token.variable,
.token.attr-value {
  font-style: normal;
  color: var(--green);
}

.token.boolean,
.token.number {
  color: var(--blue);
}

/* Custom rules (see gatsby-config.js) */

.token.js_keyword {
  color: var(--yellow);
}

.token.js_period {
  color: var(--pink);
}


