code[class*='language-'],
pre[class*='language-'] {
  -moz-hyphens: none;
  -moz-tab-size: 4;
  -ms-hyphens: none;
  -o-tab-size: 4;
  -webkit-hyphens: none;
  background: none;
  color: hsl(245, 28%, 17%);
  font-family: Consolas, Menlo, Monaco, source-code-pro, 'Courier New',
    monospace;
  font-size: 14px;
  hyphens: none;
  line-height: 1.5;
  tab-size: 4;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
  background-color: hsl(0, 0%, 96%);
  border-radius: 4px;
  margin-bottom: 2rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  overflow: auto;
  padding: 1.5rem;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  background-color: hsl(0, 0%, 94%);
  color: black;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: hsl(300, 2%, 64%);
}

.token.punctuation {
  color: hsl(0, 0%, 15%);
}

.token.tag,
.token.namespace,
.token.deleted {
  color: hsl(12, 52%, 49%);
}

.token.function-name {
  color: hsl(227, 40%, 48%);
}

.token.boolean,
.token.number,
.token.function {
  color: hsl(11, 63%, 52%);
}

.token.attr-name,
.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: hsl(206, 53%, 51%);
}

.token.alternation,
.token.group,
.token.attr-value,
.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: hsl(227, 40%, 48%);
}

.token.charset,
.token.quantifier,
.token.string,
.token.char,
.token.regex,
.token.variable {
  font-style: normal;
  color: hsl(12, 52%, 49%);
}

.token.operator,
.token.entity,
.token.url {
  color: hsl(65, 23%, 48%);
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.datetime.number {
  color: hsl(245, 28%, 17%);
}
