:root {
  --colorBlack: hsl(0, 0%, 3%);
  --colorWhite: hsl(0, 0%, 95%);
  --colorHighlight: hsl(48, 24%, 94%);

  --colorGreyDarker: hsl(0, 0%, 22.35%);
  --colorGreyDark: hsl(0, 0%, 30%);
  --colorGreyDefault: hsl(0, 0%, 44%);
  --colorGreyLight: hsl(0, 0%, 50%);
  --colorGreyLighter: hsl(0, 0%, 80%);
  --colorGreyLightest: hsl(60, 8%, 94%);

  --colorLinenDark: hsl(35, 10%, 60%);
  --colorLinenDefault: hsl(35, 10%, 85%);
  --colorLinenLight: hsl(35, 30%, 86%);
  --colorLinenLighter: hsl(35, 50%, 92%);

  --backgroundColor: hsl(60, 2%, 98%);
  --computedBackgroundColor: var(--backgroundColor);

  --textColor: var(--colorBlack);
  --colorFaded: var(--colorGreyLight);

  --boxShadow: 0px 2px 2px rgba(0, 0, 0, 0.01), 0px 3px 3px rgba(0, 0, 0, 0.015),
    0px 8px 8px rgba(0, 0, 0, 0.02), 0px 24px 24px rgba(0, 0, 0, 0.03);

  --fontFamilySystem: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;  
  --fontFamilySans: var(--fontFamilySystem);
  --fontFamilyMono: 'IBM Plex Mono', Monacao, monospace;
  --fontFamilySerif: 'EB Garamond', Georgia, serif;

  --fontSizeSmallest: 0.8rem;
  --fontSizeSmaller: 13px;
  --fontSizeSmall: 15px;
  --fontSizeDefault: 1rem;
  --fontSizeMedium: 1.125rem;
  --fontSizeLarge: 1.125rem;
  --fontSizeLarger: 1.25rem;
  --fontSizeLargest: 2.75rem;

  --spaceDefault: 1.5rem;
  --spaceMedium: 4rem;
  --spaceLarge: 8rem;

  --transitionSlow: 600ms ease-out;
  --transitionDefault: 300ms ease-out;
  --transitionFast: 50ms ease-out;

  --gutter: var(--spaceDefault);
  --maxWidth: 640px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: hsl(0, 0%, 10%);
    --textColor: var(--colorLinenLight);
    --computedBackgroundColor: hsl(0, 0%, 15%);

    --colorBlack: hsl(0, 0%, 95%);
    --colorWhite: hsl(0, 0%, 3%);

    --colorGreyDarker: var(--colorGreyLighter);
    --colorGreyDark: var(--colorGreyLight);
    --colorGreyDefault: var(--colorGreyLight);
    --colorGreyLight: var(--colorGreyLighter);
    --colorGreyLighter: var(--colorGreyLightest);
    --colorGreyLightest: var(--colorGreyLighter);
  }
}
