/* Serif Bold */
@font-face {
  font-display: block;
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/EB-Garamond-Bold.woff2) format('woff2');
}

/* Mono */
@font-face {
  font-display: block;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/IBMPlexMono-Regular.woff2) format('woff2');
}

/* Mono Italic */
@font-face {
  font-display: block;
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/IBMPlexMono-Italic.woff2) format('woff2');
}