@import url('src/styles/_breakpoints.css');

/* Accessibility */
.sr-only,
.u-visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Margin & Padding */
.u-pt-0 {
  padding-top: 0;
}

.u-pb-0 {
  padding-bottom: 0;
}

.u-mt-0 {
  margin-top: 0;
}

.u-mb-0 {
  margin-bottom: 0;
}

/* Display */

.u-none {
  display: none;
}

@media (--md) {
  .u-block\@md {
    display: block;
  }
}