@import url('src/styles/_breakpoints.css');

.ChaosGallery {
  display: contents;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.ChaosImage {
  --minDeviation: 0;
  --maxDeviation: 10;

  --smallImage: 180px;
  --mediumImage: 225px;
  --largeImage: 250px;

  cursor: grab;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition: opacity var(--transitionFast);
  z-index: 10;

  @media (--md) {
    --minDeviation: 0;
    --maxDeviation: 10;

    --smallImage: 290px;
    --mediumImage: 320px;
    --largeImage: 360px;
  }

  @media (--lg) {
    --minDeviation: 10;
    --maxDeviation: 20;

    --smallImage: 360px;
    --mediumImage: 400px;
    --largeImage: 440px;
  }

  @media (--xl) {
    --minDeviation: 10;
    --maxDeviation: 40;

    --smallImage: 440px;
    --mediumImage: 480px;
    --largeImage: 540px;
  }

  /* Sizes */

  &:nth-of-type(4n + 1) {
    height: var(--mediumImage);
    width: var(--mediumImage);
  }

  &:nth-of-type(4n + 2),
  &:nth-of-type(4n + 3) {
    height: var(--largeImage);
    width: var(--largeImage);
  }

  &:nth-of-type(4n + 4) {
    height: var(--smallImage);
    width: var(--smallImage);
  }

  /* Positions */

  &:nth-of-type(6n + 1) {
    bottom: 0;
    right: 0;
  }

  &:nth-of-type(6n + 2) {
    left: 0;
    top: 0;
  }

  &:nth-of-type(6n + 3) {
    right: 0;
    top: 0;
  }

  &:nth-of-type(6n + 4) {
    bottom: 0;
    left: 0;
  }

  &:nth-of-type(6n + 5) {
    right: 0;
    top: calc(50% - calc(var(--mediumImage) / 2));
  }

  &:nth-of-type(6n + 6) {
    left: 0;
    top: calc(50% - calc(var(--mediumImage) / 2));
  }

  &::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:active {
    cursor: grabbing;
  }

  img {
    display: block;
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
    user-select: none;
    width: 100%;
  }
}

.ChaosController {
  --handleSize: 1.25rem;
  --trackHeight: 3px;
  --trackColor: var(--colorGreyLighter);

  appearance: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  height: var(--handleSize);
  margin-top: var(--trackHeight);
  padding: 0 0 1px 0;
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::before {
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    background-color: hsla(0, 0%, 100%, 0.5);    
    border: 1px dashed var(--colorGreyLighter);
    border-radius: 50%;
    content: '';
    display: block;
    height: 3rem;
    left: -1rem;
    position: absolute;
    top:-1rem;
    transition-duration: 150ms;
    transition-property: opacity, scale, border-color;
    transition-timing-function: ease-in-out;
    width: 3rem;
    will-change: opacity, scale, border-color;
  }

  &:hover::before {
    border-color: var(--colorGreyDark);
  }

  &.is-discovered::before {
    display: none;
  }

  @media (--lg) {
    --handleSize: 1rem;
  }
}

/* Webkit */

.ChaosController::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--trackColor);
  border-radius: calc(var(--trackHeight) / 2);
  height: var(--trackHeight);
}

.ChaosController::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  border-radius: 50%;
  height: var(--handleSize);
  margin-top: calc(var(--trackHeight) / 2);
  transform: translateY(-50%);
  transition: transform var(--transitionFast);
  width: var(--handleSize);
}

/* Mozilla */

.ChaosController::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  background-color: var(--trackColor);
  border-radius: calc(var(--trackHeight) / 2);
  height: var(--trackHeight);
}

.ChaosController::-moz-range-thumb {
  appearance: none;
  background-color: currentColor;
  border: none;
  border-radius: 50%;
  height: var(--handleSize);
  margin-top: 1rem calc(var(--trackHeight) / 2);
  transition: transform var(--transitionFast);
  width: var(--handleSize);

  &:active {
    transform: scale(0.95);
  }
}

/* Microsoft */
.ChaosController::-ms-fill-lower,
.ChaosController::-ms-fill-upper {
  background-color: var(--trackColor);
}
