@import url('src/styles/_breakpoints.css');

.Container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--maxWidth);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

@media (--md) {
  .Container {
    padding: 0;
  }
}

