@import url('src/styles/_breakpoints.css');

.Figure {
  margin-bottom: var(--spaceDefault);
  margin-left: calc(-1 * var(--gutter));
  margin-right: calc(-1 * var(--gutter));
  margin-top: calc(2 * var(--spaceDefault));
}

.Figure .Caption {
  margin-bottom: 2rem;
}

@media (--md) {
  .Figure {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
  }

  .Figure--large {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  .Figure--full {
    margin-left: calc((100vw - var(--maxWidth)) / -2);
    margin-right: calc((100vw - var(--maxWidth)) / -2);
    margin-top: var(--spaceMedium);
    min-width: 100%;
    width: 100vw;
  }

  .Figure--full .Caption {
    margin-bottom: var(--spaceMedium);
  }
}

@media (--lg) {
  .Figure--large {
    margin-bottom: var(--spaceMedium);
    margin-bottom: 3rem;
    margin-left: -8.125rem;
    margin-right: -8.125rem;
    margin-top: var(--spaceMedium);
  }
}
