.Footer {
  border-top: 2px solid currentColor;
  font-size: var(--fontSizeMedium);
  margin-top: var(--spaceMedium);
  padding-bottom: var(--spaceMedium);
  padding-top: var(--spaceMedium);
}

.Footer button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: var(--fontSizeLarge);
  font-weight: 600;
  letter-spacing: 0;
  outline: none
}

.Footer a {
  display: inline-block;
  fill: currentColor;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
}

.ChatBubble {
  --size: 13px;
  --backgroundColor: #e9e9eb;
  --textColor: black;

  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background-color: var(--backgroundColor);
  border-radius: calc(2 * var(--size));
  color: var(--textColor);
  display: inline-block;
  font-family: var(--fontFamilySystem);
  font-size: var(--size);
  letter-spacing: -0.03em;
  line-height: 1;
  margin-left: 0.5em;
  padding-bottom: 0.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.5em;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.ChatBubble::before,
.ChatBubble::after {
  bottom: 0;
  content: '';
  position: absolute;
}

.ChatBubble::before {
  background-color: var(--backgroundColor);
  border-bottom-right-radius: 1em;
  height: 1em;
  left: -0.4em;
  width: 1em;
  z-index: 0;
}

.ChatBubble::after {
  background-color: var(--computedBackgroundColor);
  border-bottom-right-radius: 0.6em;
  height: 1em;
  left: -0.6em;
  width: 0.6em;
  z-index: 0;
}
