@import url('src/styles/_breakpoints.css');

.Header {
  margin-bottom: var(--spaceMedium);
  padding-top: 0.75rem;
  position: relative;

  @media (--md) {
      margin-bottom: var(--spaceMedium);
      padding-top: calc(var(--spaceMedium) + 4px);
  }
}

.Header-logo {
  font-size: 16px;  
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0;
  min-height: 3rem;
  padding-top: 0;
  position: relative;
  z-index: 10;
}

.Header-logo span {
  color: var(--colorGreyLight);
  display: block;
  font-family: var(--fontFamilySans);
  font-size: var(--fontSizeSmall);
  font-weight: 400;
  text-transform: none;
}

.NavWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media (--md) {
  .NavWrapper {
    display: contents;
  }
}

.HeroContainer {
  display: flex;
  margin-top: var(--spaceMedium);
}

.HeroContainer-Date {
  color: var(--colorGreyLight);
  display: block;
  display: none;
  font-size: var(--fontSizeSmaller);
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.HeroContainer h1 {
  display: block;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  width: 100%;
}

.HeroContainer h1 br {
  /* display: none; */
}

@media (--sm) {
  .HeroContainer h1 {
    line-height: 1.1;
  }
}

@media (--md) {
  .HeroContainer {
    margin-top: var(--spaceMedium);
  }
}
