.Hero {
  animation-delay: 600ms;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-name: reveal;
  left: 0;
  mask-image: linear-gradient(black 65%, transparent 95%);
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Hero img {
  height: 100%;
  object-fit: cover;
  /* Slow down transition for subtle effect */
  transition-duration: 6s !important;
}

.Hero .Image {
  /* Hide blurred LQIP */
  background-image: none !important;
}

@media not (display-mode: fullscreen) {
  .js-browser-arc .Hero > div {
    left: calc(-1 * var(--arcBorderWidth));
    position: relative;
    width: calc(100% + var(--arcBorderWidth) * 2);
  }
}
