@import url('src/styles/_breakpoints.css');

.Pagination {
  margin-top: calc(var(--spaceMedium) + 4px);
  padding-top: var(--spaceMedium);
  position: relative;
  text-align: center;

  @media (--md) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

.Pagination::before {
  border-bottom: 1px solid var(--colorBlack);
  border-top: 1px solid var(--colorBlack);
  content: ' ';
  display: block;
  height: 4px;
  left: 0;
  margin-top: -4px;
  position: absolute;
  top: 0;
  width: 100%;
}

.Pagination h6 {
  color: var(--colorGreyLight);
  font-size: var(--fontSizeSmall);
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding-top: 0;
}

.Pagination a {
  display: block;
  font-size: var(--fontSizeLarge);
  font-weight: 500;
  margin-bottom: var(--spaceMedium);
  text-decoration-color: inherit;
}