<div class="Preloader-wrapper" role="status" aria-live="polite">
  <div id="js-preloader" class="Preloader"></div>
</div>

<style>
  .Preloader-wrapper {
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-name: hide;
    display: contents;
  }

  .Preloader {
    background-color: var(--backgroundColor);
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &.is-hidden {
      display: none;
      visibility: hidden;
    }

    &.fade-out {
      animation-duration: 300ms;
      animation-fill-mode: forwards;
      animation-name: fadeOut;
      animation-timing-function: cubic-bezier(0.24, 1, 0.36, 1);
    }
  }
</style>

<script>
  (function () {
    const loadingOverlay = document.getElementById('js-preloader');
    const initialLoadComplete = sessionStorage.getItem('hasLoaded');

    if (!loadingOverlay) return;

    if (initialLoadComplete) {
      loadingOverlay.classList.add('is-hidden');
    }

    document.addEventListener('DOMContentLoaded', () => {
      loadingOverlay.classList.add('fade-out');
      sessionStorage.setItem('hasLoaded', 'true');
    });

    window.addEventListener('load', () => {
      const serif = new FontFace('EB Garamond', 'url(/fonts/EB-Garamond-Bold.woff2)', {
        style: 'normal',
        weight: '700',
      });

      serif.load().then((font) => {
        document.fonts.add(font);
      });
    });
  })();
</script>
