@import url('src/styles/_breakpoints.css');

.TimelineItem {
  --marginBottom: var(--spaceLarge);
  --nodeDiameter: 0.75rem;
  --nodeOffset: 2rem;
  --strokeWidth: 2px;
  --timelineColor: var(--colorGreyLightest);
  --timelineNodeColor: var(--colorGreyDarker);

  margin-bottom: var(--marginBottom);  
  position: relative;

  figure {
    aspect-ratio: 16/9;
    box-shadow: var(--boxShadow);
    margin-bottom: 1.25rem;
    position: relative;
    z-index: 5;
  }

  &:first-of-type {
    figure {
      margin-top: 0;
    }
  }

  @media (--md) {
    &:first-of-type {
      .TimelineItemImageWrapper::before {
        --offset: 2rem;

        background-image: linear-gradient(
          0deg,
          var(--timelineColor) 0%,
          var(--computedBackgroundColor) 100%
        );
      }
    }

    .TimelineItemImageWrapper::after {
      --diameter: 6px;

      background-color: var(--timelineNodeColor);
      border-radius: 50%;
      content: '';

      display: none;
      height: var(--diameter);
      left: 0;
      margin-left: calc(-1 * var(--nodeOffset) - var(--diameter) - 4px);
      margin-top: -2.25rem;
      position: absolute;
      top: 0;
      width: var(--diameter);
      z-index: 2;
    }

    .TimelineItemDetailsWrapper::after {
      top: 1rem;
    }
  }

  &:last-of-type {
    .TimelineItemDetailsWrapper::after {
      display: none;
    }
  }
}

.TimelineItem.is-draft {
  pointer-events: none;
}

.TimelineItemImageWrapper {
  position: relative;
  z-index: 1;

  @media (--md) {
    &::before {
      background-color: var(--timelineColor);
      content: '';
      height: 100%;
      height: calc(100% + 2.75rem);
      left: 0;
      margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter) / 2 - 0.5px);
      position: absolute;
      top: 0;
      width: var(--strokeWidth);

      z-index: 0;
    }
  }
}

.TimelineItemDetailsWrapper {
  position: relative;

  h3 {
    color: var(--colorBlack);
    display: inline-block;
    font-size: 1rem;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.25rem;
    margin-top: -2px;
    padding-top: 0.75rem;
  }

  p {
    color: hsl(0, 0%, 44%);
    font-size: var(--fontSizeSmall);
    margin-bottom: 0;
  }

  @media (--md) {
    &::after {
      background-color: var(--timelineColor);
      bottom: calc(-1 * var(--marginBottom));
      content: '';
      height: calc(100% - var(--nodeDiameter) + var(--marginBottom) + var(--nodeDiameter));
      left: 0;
      margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter) / 2 - 0.5px);
      position: absolute;
      width: var(--strokeWidth);
      z-index: 0;
    }
  }
}

.TimelineItemNode {
  font-size: var(--fontSizeSmaller);

  @media (--md) {
    align-items: center;
    background-color: var(--colorBlack);
    border-radius: 50%;
    box-shadow: 0 0 0 8px var(--computedBackgroundColor);
    display: flex;
    font-variant-numeric: tabular-nums;
    font-weight: 500;
    height: var(--nodeDiameter);
    justify-content: center;
    left: 0;
    line-height: 1.2;
    margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter));
    position: absolute;
    text-align: center;
    top: 1rem;
    width: var(--nodeDiameter);
    z-index: 1;
  }
}

.Timeline-date {
  color: hsl(0, 0%, 44%);  
  font-size: var(--fontSizeSmallest);
  font-size: 12px;
  font-weight: 500;

  @media (--md) {
    padding-top: calc(var(--nodeDiameter) + 2px);
  }

  @media (--lg) {
    display: block;
    height: var(--nodeDiameter);
    left: -8.75rem;
    line-height: 1;
    padding-top: 0;
    position: absolute;
    text-align: right;
    top: calc(1rem - 1px);
    white-space: nowrap;
    width: 4rem;
  }
}

.Timeline-link {
  color: var(--colorBlack);
  font-size: var(--fontSizeSmall);
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
}
