@import url('src/styles/_breakpoints.css');

.TimelineItem {
  --marginBottom: var(--spaceMedium);
  --nodeDiameter: 0.75rem;
  --nodeOffset: 2rem;
  --strokeWidth: 2px;
  --timelineColor: var(--colorGreyLightest);
  --timelineNodeColor: var(--colorGreyDark);

  margin-bottom: var(--marginBottom);
  position: relative;

  &.is-draft {
    pointer-events: none;
  }

  @media (--md) {
    --marginBottom: var(--spaceLarge);

    &:first-of-type {
      /* Fade timeline in */
      .TimelineItem-media::before {
        background-image: linear-gradient(
          0deg,
          var(--timelineColor) 0%,
          var(--computedBackgroundColor) 100%
        );
      }
    }
  }

  &:last-of-type {
    /* Hide last timeline segment */
    .TimelineItem-details::after {
      display: none;
    }
  }
}

.TimelineItem-media {
  --figureMarginBottom: calc(1.25rem + 2px);

  & figure {
    box-shadow: var(--boxShadow);
    margin-bottom: var(--figureMarginBottom);
  }

  @media (--md) {
    /* Timeline segment adjacent to image */
    &::before {
      background-color: var(--timelineColor);
      content: '';
      height: 100%;
      height: calc(100% + var(--figureMarginBottom));
      left: 0;
      margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter) / 2 - 0.5px);
      position: absolute;
      top: 0;
      width: var(--strokeWidth);
      z-index: 0;
    }
  }
}

.TimelineItem-date {
  color: var(--colorGreyDefault);
  font-size: var(--fontSizeSmallest);
  font-size: 12px;
  font-weight: 500;

  @media (--md) {
    padding-top: calc(var(--nodeDiameter) + 2px);
  }

  @media (--lg) {
    background-color: var(--colorGreyLightest);
    border-radius: 0.25rem;
    height: 1.25rem;
    left: -4.75rem;
    line-height: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    position: absolute;
    top: calc(1rem - 0.25rem);
    transform: translateX(-100%);
  }
}

.TimelineItem-node {
  font-size: var(--fontSizeSmaller);

  @media (--md) {
    background-color: var(--timelineNodeColor);
    border-radius: calc(var(--nodeDiameter) / 2);
    box-shadow: 0 0 0 0.5rem var(--computedBackgroundColor);
    height: var(--nodeDiameter);
    left: 0;
    margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter));
    position: absolute;
    top: 1rem;
    width: var(--nodeDiameter);
    z-index: 1;
  }
}

.TimelineItem-details {
  position: relative;

  @media (--md) {
    &::after {
      background-color: var(--timelineColor);
      bottom: calc(-1 * var(--marginBottom));
      content: '';
      height: calc(100% - var(--nodeDiameter) + var(--marginBottom) + var(--nodeDiameter));
      left: 0;
      margin-left: calc(-1 * var(--nodeOffset) - var(--nodeDiameter) / 2 - 0.5px);
      position: absolute;
      width: var(--strokeWidth);
      z-index: 0;
    }
  }
}

.TimelineItem-details h2 {
  display: inline-block;
  margin-bottom: 0.25rem;
  padding-top: 0.5rem;
}

.TimelineItem-details p {
  color: var(--colorGreyDefault);
  font-size: var(--fontSizeSmall);
  margin-bottom: 0.25rem;
}

.TimelineItem-link {
  font-size: var(--fontSizeSmall);
  text-decoration: none;
}
