:root {
  --sm: 480px;
  --md: 768px;
  --lg: 1280px;
  --xl: 1440px;

  --colorBlack: hsl(0, 0%, 10%);
  --colorWhite: hsl(0, 0%, 98%);
  --colorHighlight: hsl(48, 24%, 94%);

  --colorGreyDarker: hsl(0, 0%, 22.35%);
  --colorGreyDark: hsl(0, 0%, 30%);
  --colorGreyDefault: hsl(0, 0%, 35%);
  --colorGreyLight: hsl(0, 0%, 50%);
  --colorGreyLighter: hsl(0, 0%, 70%);
  --colorGreyLightest: hsl(0, 0%, 94%);

  --colorLinenDark: hsl(35, 10%, 60%);
  --colorLinenDefault: hsl(35, 10%, 85%);
  --colorLinenLight: hsl(35, 30%, 86%);

  --colorRedDefault: hsl(351, 64%, 55%);
  --colorRedTranslucent: hsl(351, 64%, 55%, 0.25);

  --colorCyanDefault: hsl(186, 100%, 73%);
  --colorCyanTranslucent: hsl(186, 100%, 73%, 0.25);

  --backgroundColor: var(--colorLinen);
  --backgroundOverlayColor: hsl(0, 0%, 100%, 0.4);
  --textColor: var(--colorBlack);

  --fontFamilySerif: CNW, Georgia, 'Times New Roman', Times, serif;
  --fontFamilySansSerif: USW, -apple-system, sans-serif;
  --fontFamilySystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --transitionSpeedFast: 200ms;
  --transitionSpeedDefault: 300ms;
  --transitionSpeedSlow: 500ms;

  --maxWidth: 700px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: var(--colorBlack);
    --backgroundOverlayColor: hsl(0, 0%, 100%, 0.05);
    --textColor: var(--colorLinenLight);
    --computedBackgroundColor: hsl(0, 0%, 15%);
  }
}
