:root {
  --colorBlack: hsl(0, 0%, 16%);
  --colorWhite: hsl(0, 0%, 95%);
  --colorHighlight: hsl(48, 24%, 94%);

  --colorGreyDarker: hsl(0, 0%, 22.35%);
  --colorGreyDark: hsl(0, 0%, 30%);
  --colorGreyDefault: hsl(0, 0%, 35%);
  --colorGreyLight: hsl(0, 0%, 50%);
  --colorGreyLighter: hsl(0, 0%, 80%);
  --colorGreyLightest: hsl(60, 8%, 94%);

  --colorLinenDark: hsl(35, 10%, 60%);
  --colorLinenDefault: hsl(35, 10%, 85%);
  --colorLinenLight: hsl(35, 30%, 86%);
  --colorLinenLighter: hsl(35, 50%, 92%);

  --backgroundColor: var(--colorGreyLightest);
  --computedBackgroundColor: var(--backgroundColor);

  --textColor: var(--colorBlack);
  --colorFaded: var(--colorGreyLight);

  --boxShadow: 0px 2px 2px rgba(0, 0, 0, 0.01), 0px 3px 3px rgba(0, 0, 0, 0.015),
    0px 8px 8px rgba(0, 0, 0, 0.02), 0px 24px 24px rgba(0, 0, 0, 0.03);

  --fontFamilySerif: 'Signifier', CNW, Georgia, 'Times New Roman', Times, serif;
  --fontFamilySansSerif: USW, -apple-system, sans-serif;
  --fontFamilySystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --fontSizeSmallest: 0.8rem;
  --fontSizeSmaller: 0.8rem;
  --fontSizeSmall: 0.9rem;
  --fontSizeDefault: 1rem;
  --fontSizeMedium: 1.125rem;
  --fontSizeLarge: 1.125rem;
  --fontSizeLarger: 1.25rem;
  --fontSizeLargest: 2.75rem;

  --spaceDefault: 1.5rem;
  --spaceMedium: 4rem;
  --spaceLarge: 8rem;

  --transitionSlow: 600ms ease-out;
  --transitionDefault: 300ms ease-out;
  --transitionFast: 50ms ease-out;

  --gutter: var(--spaceDefault);
  --maxWidth: 700px;

  --glowSize: 1200px;
}

@media (min-width: 480px) {
  :root {
    --fontSizeSmallest: 0.6rem;
    --fontSizeSmaller: 0.7rem;
    --fontSizeSmall: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: hsl(0, 0%, 10%);
    --textColor: var(--colorLinenLight);
    --computedBackgroundColor: hsl(0, 0%, 15%);
  }
}
