@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpSkew {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0) skewY(10deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
