@font-face {
  font-display: block;
  font-family: 'USW';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/USW-RegularItalic.woff2') format('woff2'),
    url('/fonts/USW-RegularItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'USW';
  font-weight: 400;
  src: url('/fonts/USW-Regular.woff2') format('woff2'),
    url('/fonts/USW-Regular.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'USW';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/USW-MediumItalic.woff2') format('woff2'),
    url('/fonts/USW-MediumItalic.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'USW';
  font-weight: 500;
  src: url('/fonts/USW-Medium.woff2') format('woff2'),
    url('/fonts/USW-Medium.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'CNW';
  font-weight: 400;
  src: url('/fonts/CNW-Regular.woff2') format('woff2'),
    url('/fonts/CNW-Regular.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'CNW';
  font-weight: 500;
  src: url('/fonts/CNW-Medium.woff2') format('woff2'),
    url('/fonts/CNW-Medium.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'CNW';
  font-weight: 700;
  src: url('/fonts/CNW-Bold.woff2') format('woff2'),
    url('/fonts/CNW-Bold.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'JBM';
  font-weight: 400;
  src: url('/fonts/JBM-Regular.woff2') format('woff2'),
    url('/fonts/JBM-Regular.woff') format('woff');
}

@font-face {
  font-display: block;
  font-family: 'JBM';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/JBM-Italic.woff2') format('woff2'),
    url('/fonts/JBM-Italic.woff') format('woff');
}

html,
body {
  font-family: USW, -apple-system, sans-serif;
  font-size: 18px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html, body {
    font-size: 20px;
  }
}

html {
  background-color: var(--backgroundColor);
  transition-duration: 600ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
}

body {
  background-color: rgb(255, 255, 255, 0.4);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  transition-duration: 600ms;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  min-height: 100vh;
}

@media (min-width: 480px) {
  body::before {
    background-color: currentColor;
    content: '';
    height: 4px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
