@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$gutter: 1em;
$grid-columns: 4;
$max-width: 780px;
// $visual-grid: true;
$visual-grid-color: orange;

// Define your breakpoints
$mobile: new-breakpoint(min-width 320px 4);
$tablet: new-breakpoint(min-width 569px 8);
$desktop: new-breakpoint(min-width 1025px 12);
$widescreen: new-breakpoint(min-width 1400px 12);
