$pg_background: #202020;
$pg_foreground: #C5C8C6;
$pg_numbers: #717373;
$pg_red: #f2777a;
$pg_orange: #DE935F;
$pg_yellow: #ffcc66;
$pg_green: #B5BD68;
$pg_aqua: #66cccc;
$pg_blue: #81A2BE;
$pg_purple: #B294BB;
$pg_comment: #969896;

.highlight {
  position: relative;
	margin-bottom: 1.5rem;
	padding: 1rem 0 1rem 2rem;
  border-left: 1rem solid darken($pg_background, 0%);
	background: $pg_background;
	&.ki {
		padding-right: 1rem;
		pre {
			white-space: pre-wrap;
		}
	}
  ::selection {
  	color: inherit;
		background: rgba(white, 0.15);
	}
	::-moz-selection {
		color: inherit;
		background: rgba(white, 0.15);
	}
}

code {
	margin: 0;
	padding: 0 0.5rem;
	background: $lighter-gray;
	vertical-align: middle;
	font-weight: 500;
	font-size: $epsilon;
	font-family: "source-code-pro", "source code pro", "menlo", $monospace;
	&::selection {
  	color: inherit;
		background: rgba(white, 0.15);
	}
	&::-moz-selection {
		color: inherit;
		background: rgba(white, 0.15);
	}
}

.highlight code, .highlight pre {
	font-weight: 500;
	font-size: 0.75em;
	font-family: "source-code-pro", "source code pro", "menlo", $monospace;
	line-height: 1.5em;
}

.highlight pre {
  overflow: auto;
  margin: 0;
  counter-reset: linenumbers;
	white-space: pre;
}

.highlight pre > span {
  display: block;
	line-height: 1.5em;
	&:before {
    position: absolute;
    left: 0;
    width: 1.2em;
		color: $pg_numbers;
    content: counter(linenumbers);
    counter-increment: linenumbers;
    text-align: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
}

.highlight {
	color: $pg_foreground;
	.c 	{ color: $pg_comment } 					/* Comment */
	.k 	{ color: $pg_purple } 					/* Keyword */
	.l 	{ color: $pg_foreground } 			/* Literal */
	.n 	{ color: $pg_foreground } 			/* Name */
	.o 	{ color: $pg_foreground } 			/* Operator */
	.p 	{ color: $pg_foreground } 			/* Punctuation */
	.cm { color: $pg_comment } 					/* Comment.Multiline */
	.cp { color: $pg_green } 						/* Comment.Preproc */
	.c1 { color: $pg_green } 						/* Comment.Single */
	.cs { color: $pg_green } 						/* Comment.Special */
	.kc { color: $pg_purple } 					/* Keyword.Constant */
	.kd { color: $pg_purple } 					/* Keyword.Declaration */
	.kn { color: $pg_aqua } 						/* Keyword.Namespace */
	.kp { color: $pg_blue } 						/* Keyword.Pseudo */
	.kr { color: $pg_purple } 					/* Keyword.Reserved */
	.kt { color: $pg_foreground } 			/* Keyword.Type */
	.ld { color: $pg_yellow } 					/* Literal.Date */
	.m 	{ color: $pg_yellow } 					/* Literal.String */
	.na { color: $pg_yellow } 					/* Name.Attribute */
	.nb { color: $pg_foreground } 			/* Name.Builtin */
	.nc { color: $pg_red } 							/* Name.Class */
	.no { color: $pg_orange } 					/* Name.Constant */
	.nd { color: $pg_red } 							/* Name.Decorator */
	.ni { color: $pg_foreground } 			/* Name.Entity */
	.ne { color: $pg_yellow } 					/* Name.Exception */
	.nf { color: $pg_blue } 						/* Name.Function */
	.nl { color: $pg_foreground } 			/* Name.Label */
	.nn { color: $pg_foreground } 			/* Name.Namespace */
	.nx { color: $pg_yellow } 					/* Name.Other */
	.py { color: $pg_foreground } 			/* Name.Property */
	.nt { color: $pg_purple } 					/* Name.Tag */
	.nv { color: $pg_orange } 			/* Name.Variable */
	.ow { color: $pg_aqua } 						/* Operator.Word */
	.w 	{ color: $pg_foreground } 			/* Text.Whitespace */
	.mf { color: $pg_orange } 					/* Literal.Number.Hex */
	.mi { color: $pg_orange } 					/* Literal.String.Backtick */
	.sc { color: $pg_yellow } 					/* Literal.String.Char */
	.sd { color: $pg_yellow } 					/* Literal.String.Doc */
	.s2 { color: $pg_green } 						/* Literal.String.Double */
	.se { color: $pg_yellow } 					/* Literal.String.Heredoc */
	.si { color: $pg_orange } 					/* Literal.String.Interpol */
	.sx { color: $pg_yellow } 					/* Literal.String.Other */
	.sr { color: $pg_yellow } 					/* Literal.String.Regex */
	.s1 { color: $pg_green } 						/* Literal.String.Single */
	.ss { color: $pg_yellow } 					/* Literal.String.Symbol */
	.bp { color: $pg_foreground } 			/* Name.Builtin.Pseudo */
	.vc { color: $pg_foreground } 			/* Name.Variable.Class */
	.vg { color: $pg_foreground } 			/* Name.Variable.Global */
	.vi { color: $pg_red } 							/* Name.Variable.Instance */
	.il { font-style: italic } 					/* Generic.Emph */
	.gs { font-weight: bold } 					/* Generic.Strong */
	.err { background: $pg_red } 				/* Error */
	.hll { background: $pg_foreground } /* Highlight */
}
