@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "pygments";

$primary: 'Whitney SSm A', 'Whitney SSm B';
$secondary: 'Mercury SSm A', 'Mercury SSm B';
// $tertiary: ;

$accent: #3F6D75;
$space: 1.5em;
$light: #FCFCFC;
$gray: #818c94;
$dark-gray: #404040;
$light-gray: #d7ddde;

html {

}

body {
	border-top: 0.422em solid $accent;
	background: $light;
	color: $dark-gray;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	font-family: $primary;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}

h1 {
	margin: 0;
	padding: 0;
	letter-spacing: -0.05em;
	font-size: 3.157em;
	font-family: 'Mercury SSm A', 'Mercury SSm B';
	line-height: 1.25em;
}

h2 {
	letter-spacing: -0.05em;
	font-weight: 700;
	font-size: 1.333em;
	line-height: 1em;
}

h3 {
	color: $accent;
	font-weight: 500;
	line-height: 1em;
}

p {
	margin: 1.5em 0;
}

blockquote {
	margin: 1em 0 1em -1em;
	padding: 0 0 0 1em;
	border-left: 0.238em solid $accent;
	font-weight: 400;
	font-style: italic;
	p {
		color: $gray;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

nav ul {
	display: block;
	margin: 0;
	padding: 0;
	li {
		display: block;
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid $light-gray;
		list-style: none;
		font-family: $secondary;
		&:last-of-type {
			border-bottom: 1px solid $light-gray;
		}
		a {
			h1 {
				font-size: 2.369em !important;
			}
			span {
				display: block;
				margin: 1.5em 0 0 0;
				color: $gray;
				font-family: $secondary;
				line-height: 1.5em;
			}
		}
	}
}

span.meta {
	color: $gray;
	font-size: 0.75em;
}

section {
	margin: 2em;
	@include outer-container;
}

article {

}

footer {
	color: $light;
	background: $accent;
}

