@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "icons";
@import "symbolset";
@import "animate";

/* ------------------------------------------------ *\

	# SMACSS
	1. Base
	2. Layout
	3. Module
	4. State
	5. Theme

\* ------------------------------------------------ */

// Variables

$whitney: 'Whitney SSm A', 'Whitney SSm B';
$sentinel: 'Sentinel SSm A', 'Sentinel SSm B';

$beta: 2.369rem;
$gamma: 1.777rem;
$delta: 1.333rem;
$default: 1rem;
$epsilon: 0.75rem;

$dark-gray: #202020;
$gray: #404040;
$light-gray: #535353;
$lighter-gray: #ECECEC;
$light: #fafafa;
$accent: #3BA7BB;

$twitter: #00aced;
$linkedin: #007bb6;
$instagram: #517fa4;
$dribbble: #ea4c89;
$rdio: #008FD5 ;
$github: #171515;

@import "pygments";

// Mixins

$icon-size: 1.4rem;
$icon-pad: 1rem;
$overlap: 0.13rem;

@mixin social-circle($icon, $color) {
	@include transition(all 0.2s ease);
	position: relative;
	display: block;
	width: $icon-size + $icon-pad;
	height: $icon-size + $icon-pad;
	border-radius: 50%;
	background: $color;
	box-shadow: 0 0 0 2px $color,
							inset 0 0 0 ($icon-pad/2 + $overlap) $dark-gray;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: (-$icon-size/2) 0 0 (-$icon-size/2);
		color: $dark-gray;
		content: $icon;
		font-size: $icon-size;
		font-family: "SSSocialCircle";
		line-height: 1.25;
	}
	&:hover, &:active {
		background: adjust-color($color, $lightness: 10%, $saturation: 50%);
		box-shadow: 0 0 0 2px adjust-color($color, $lightness: 10%, $saturation: 50%),
								inset 0 0 0 ($icon-pad/2 + $overlap) $dark-gray;
	}
	@include media($desktop) {
		margin: 0 auto;
	}
}

@mixin ext-link($color) {
	color: $color;
	@include media($desktop) {
		color: inherit;

		&:before {
			color: $color;
		}
	}

	&:hover, &:active {
		color: $color;
	}
}

// Base Styles

html {
	font-size: 16px;
	@include media($tablet) {
		font-size: 18px;
	}
	@include media($desktop) {
		font-size: 20px;
	}
}

body {
	background: $light;
	color: $gray;
	font-family: $whitney;
	line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	@include media($tablet) {
		text-align: left;
	}
}

h1 {
	margin: 0 0 1rem 0;
	padding: 0;
	letter-spacing: -0.08rem;
	font-weight: 700;
	font-size: $beta;
	line-height: 1.25;
}

h2 {
	margin: 0 0 0 0;
	padding: 1rem 0 0 0;
	letter-spacing: -0.05rem;
	font-weight: 700;
	font-size: $gamma;
	line-height: 1.5;
}

h3 {
	color: $accent;
	font-weight: 500;
	font-size: $default;
	line-height: 1rem;
}

h4 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 400;
	font-size: $default;
	line-height: 1;
}

p {
	margin: 0 0 1.5rem 0;
	padding: 0;
	line-height: 1.8;
}

em {
	color: $light-gray;
	font-weight: 400;
	font-style: italic;
}

strong {
	color: $light-gray;
	letter-spacing: -0.05rem;
	font-weight: 600;
	font-style: italic;
}

blockquote {
	display: block;
	margin: 1rem 0 1rem -1rem;
	padding: 0 0 0 1rem;
	box-shadow: inset 0.2rem 0 0 $accent;
	font-weight: 400;
	font-style: italic;
	p {
		color: $light-gray;
	}
}

a {
	@include transition-duration(0.2s);
	color: $accent;
	text-decoration: none;
	&:hover, &:active {
		color: lighten($accent, 10%);
	}
}

ul {
	margin: 0 0 1.5 rem 0;
	padding: 0;
	list-style: none;
	display: block;
}

hr {
	margin: 4rem auto 0 auto;
	height: 1px;
	border: none;
	background: $lighter-gray;
}

img {
	max-width: 100%;
}

header {
	position: relative;
	padding: 1.5rem 0 1.5rem 0;
	@include media($tablet) {
		padding: 3rem 0 4rem 0;
	}
}

section {
	@extend .animated;
	@extend .fadeInUp;
	@include animation-delay(0.6s);
	padding: 1.5rem 0 0 0;
	@include media($tablet) {
		padding: 4rem 0 0 0;
	}
}

article {
	@extend .animated;
	@extend .fadeIn;
	margin: 2rem 0 0 0;
	padding: 0 0 0 0;
	@include media($tablet) {
		margin: 4rem 0 0 0;
	}
}

footer {
	padding: 1.5rem 0;
	font-size: $epsilon;
	line-height: 1.1;
	@include media($tablet) {
		padding: 4rem 0;
	}
}

/* ------------------------ *\
	Layout
\* ------------------------ */

.container {
	@include outer-container;
	padding: 0 1rem;
	@include media($desktop) {
		padding: 0;
	}
}

.left {
	@include span-columns(3);
	@include media($tablet) {
		@include span-columns(4 of 8);
	}
	@include media($desktop) {
		@include span-columns(6 of 12);
	}
}
.right {
	@include span-columns(3);
	@include media($tablet) {
		@include span-columns(4 of 8);
	}
	@include media($desktop) {
		@include span-columns(6 of 12);
	}
}

/* ------------------------ *\
	Module
\* ------------------------ */

.dark {
	background: $dark-gray;
	color: $light;
}

.thin {
	padding: 0rem 0;
	.title {
		border: none;
	}
	@include media($tablet) {
		padding: 0.5rem 0;
	}
}

.title {
	padding: 1rem 0;
	border-top: 1px solid $lighter-gray;
	border-bottom: 1px solid $lighter-gray;
	color: $light;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	line-height: 1;
}

a.home {
	display: block;
	i {
		@include transition-duration(0.2s);
		float: right;
		color: $light-gray;
	}
	&:hover {
		color: $lighter-gray;
		i {
			color: $lighter-gray;
		}
	}
}

.hero {
	@extend .animated;
	@extend .fadeIn;
	@include animation-delay(0.2s);
	margin: 0 0 0 0;
	padding: 1.5rem 0;
	@include media($tablet) {
		padding: 2rem 0;
	}
	p {
		margin: 0 0 1rem 0;
		letter-spacing: -0.05rem;
		font-weight: 300;
		font-size: $delta;
		font-family: $sentinel;
		line-height: 1.45;
		@include media($tablet) {
			font-size: $gamma;
		}
		&:last-of-type {
			margin: 0;
			color: $lighter-gray;
			letter-spacing: 0;
			font-size: $default;
			font-family: $whitney;
			@include media($tablet) {
				font-size: $delta;
			}
		}
	}
}

ul.social {
	@extend .animated;
	@extend .fadeIn;
	@include animation-delay(0.2s);
	display: block;
	overflow: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		@include span-columns(1);
		padding: 2px;
		@include media($tablet) {
			@include span-columns(1 of 8);
		}
		@include media($desktop) {
			@include span-columns(1 of 12);
		}
		.twitter {
			@include social-circle("", $twitter);
		}
		.instagram {
			@include social-circle("", $instagram);
		}
		.github {
			@include social-circle("", $light);
		}
		.dribbble {
			@include social-circle("", $dribbble);
		}
		.linkedin {
			@include social-circle("", $linkedin);
		}
		.rdio {
			@include social-circle("", $rdio);
		}
	}
}

ul.articles {
	display: block;
	margin: 1.5rem 0 1.5rem 0;
	padding: 0;
	@include media($tablet) {
		margin: 1rem 0 4rem 0;
	}
	li {
		@include transition(all 0.2s ease);
		display: block;
		overflow: auto;
		margin: 0;
		padding: 1.5rem 0;
		border-bottom: 1px solid $lighter-gray;
		list-style: none;
		@include media($desktop) {
			padding: 2rem 0;
		}
		&:first-of-type {
			border-top: 1px solid $lighter-gray;
		}
		.date {
			display: block;
			font-size: $epsilon;
			@include media($tablet) {
				line-height: 2.5;
			}
			@include media($desktop) {
				@include span-columns(3 of 12);
			}
		}
		a {
			display: block;
			color: $light-gray;
			letter-spacing: -0.05rem;
			font-weight: bold;
			font-weight: 600;
			font-size: $delta;
			@include media($desktop) {
				@include span-columns(9 of 12);
				@include omega;
			}
			&:hover, &:active {
				color: $accent;
			}
		}
		.excerpt {
			display: block;
			color: $light-gray;
			font-family: $whitney;
			line-height: 1.5;
			font-size: $epsilon;
			@include media($desktop) {
				@include span-columns(9 of 12);
				@include shift(3);
			}
		}
	}
}

ul.elsewhere {
	@extend .articles;
	margin-bottom: 0;
	li {
		a {
			letter-spacing: -0.06 rem;
			font-weight: 400;
			font-size: $delta;
			@include media($desktop) {
				padding: 0 0 0 1.5rem;
				&:before {
					position: absolute;
					margin-left: -1.5rem;
					color: $light-gray;
					content: "\e601";
					font-size: $default;
					font-family: icomoon;
					line-height: 2;
				}
			}
			&.hm {
				@include ext-link(#FF3301);
			}
			&.onone {
				@include ext-link(#0069AA);
			}
			@include media($tablet) {
				padding: 0;
			}
		}
		.excerpt {
			letter-spacing: 0.01rem;
			font-style: italic;
		}
	}
}

.twitter-footer {
	position: relative;
	color: $twitter;
	padding: 0 0 0 1rem;
	font-weight: 400;
	&:before {
		position: absolute;
		left: 0;
		content: "\e606";
		font-family: icomoon;
		}
	&:hover {
		color: adjust-color($twitter, $lightness: 10%, $saturation: 50%);
	}
}

.flag {
	display: block;
	float: right;
	width: 1.6rem;
	height: 0.8rem;
	background: url(../images/canadian-flag.svg) no-repeat;
	background-size: contain;
}

/* ------------------------ *\
	State
\* ------------------------ */

.hide {
	display: none;
}

.cloak {
	visibility: hidden;
}

.transparent {
	opacity: 0;
}

.inherit {
	color: inherit;
}

::selection {
	background: rgba($accent, 0.8);
	color: $light;
}

::-moz-selection {
	background: rgba($accent, 0.8);
	color: $light;
}

/* ------------------------ *\
	Theme
\* ------------------------ */

// I will find a better place for this soon.

a.demo {
	position: relative;
	display: inline-block;
	padding: 0.75rem 3rem;
	border: 2px solid $accent;
	border-radius: 3px;
	background: $accent;
	color: white;
	font-weight: 500;
	line-height: 1;
	&.step-two {
		&:after {
			position: absolute;
			right: 1rem;
			width: 1rem;
			height: 1rem;
			content: "\e602";
			font-family: icomoon;
		}
	}
	&.step-three {
		&:after {
			color: $accent;
		}
		&:visited {
			border-color: $light-gray;
			color: $light-gray;
			background: $light;
			&:after {
				color: #49b749;
			}
		}
	}
}
