@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$primary: 'Whitney SSm A', 'Whitney SSm B';
$secondary: 'Mercury SSm A', 'Mercury SSm B';

$base: 16px;

$alpha: modular-scale($base, 4, 1.333);
$gamma: modular-scale($base, 2, 1.333);
$delta: modular-scale($base, 1, 1.333);
$epsilon: modular-scale($base, -1, 1.333);
$milli: modular-scale($base, -3, 1.333);
$micro: modular-scale($base, -5, 1.333);

$accent: #3F6D75;
$light: #A2BDC1;
$gray: #75898C;
$dark-gray: #404040;
$light-gray: darken(#d7ddde, 10%);
$dark: #243D42;
$background: #FAFAFA;

$pad: $gamma;

@import "pygments";

::selection {
	color: $dark;
	background: rgba($light, 0.8);
}

::-moz-selection {
	color: $dark;
	background: rgba($light, 0.8);
}

html, body {
	height: 100%;
}

body {
	border-top: $milli solid $accent;
	background: $background;
	color: $dark-gray;
	font-weight: 400;
	font-style: normal;
	font-size: $base;
	font-family: $primary;
	line-height: $gamma;
	-webkit-font-smoothing: antialiased;
	@include media($tablet) {

	}
	@include media($desktop) {
		// font-size: 22px;
	}
}

#wrapper {
  min-height: 100%;
  margin-bottom: -5em;
  &:after {
  	content: "";
  	display: block;
  }
}

header {
	padding: $alpha 0;
	position: relative;
}

footer, #wrapper:after {
	height: 5em;
	line-height: 5em;
}

h1 {
	margin: 0 0 0 0;
	padding: 0;
	letter-spacing: -0.05em;
	font-size: $alpha;
	font-family: $secondary;
	line-height: 1.25em;
}

span.meta {
	color: $light-gray;
	// font-size: $epsilon;
	margin: 0;
	bottom: 0;
	display: block;
	position: absolute;
}

h2 {
	letter-spacing: -0.05em;
	font-weight: 700;
	font-size: $gamma;
	line-height: 1.5em;
	margin: 0 0 $pad 0;
}

h3 {
	color: $accent;
	font-weight: 500;
	line-height: 1em;
	font-size: $pad;
}

p {
	margin: 0 0 $pad 0;
}

blockquote {
	display: block;
	margin: $pad 0 $pad ($pad * -1);
	box-shadow: inset $micro 0 0 $accent;
	padding: 0 0 0 $pad;
	font-weight: 400;
	font-style: italic;
	p {
		color: $gray;
	}
}

a {
	color: $accent;
	text-decoration: none;
	font-weight: 500;
	@include transition-duration(0.2s);
	&:hover {
		color: $light;
	}
}

em {
	font-style: italic;
	font-weight: 500;
}

nav ul {
	display: block;
	margin: 0;
	padding: 0;
	li {
		display: block;
		margin: 1em 0;
		padding: 1em 0;
		border-top: 1px solid $light-gray;
		list-style: none;
		font-family: $secondary;
		&:last-of-type {
			border-bottom: 1px solid $light-gray;
		}
		a {
			h1 {
				font-size: $gamma !important;
			}
			span {
				display: block;
				margin: 1em 0 0 0;
				color: $gray;
				font-family: $primary;
				line-height: 1.5em;
			}
		}
	}
}

section {
	padding: 0 1em;
	@include outer-container;
}

article {
	margin: 0 0 10em 0;
	padding: 0 0 $pad 0;
	border-bottom: 1px solid $light-gray;
}

footer {
	padding: 0;
	color: $light-gray;
	background: $dark;
	span {
		font-size: $epsilon;
		font-weight: 500;
		@include span-columns(2);
		&.right {
			text-align: right;
		}
	}
}

#blur {
	height: 100%;
	-webkit-filter: blur(6px) contrast(0.4) brightness(1.4);
	-moz-filter: blur(6px) contrast(0.4) brightness(1.4);
	-o-filter: blur(6px) contrast(0.4) brightness(1.4);
	-ms-filter: blur(6px) contrast(0.4) brightness(1.4);
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate3d(0,0,0);
	clip: rect(inherit);
}
